<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
      <add key="TwitterUsername" value="toottootmcgoot"/>
      <add key="TwitterPassword" value="B'oFzPZZ"/>
      <add key="OAuthBaseUrl" value="http://twitter.com/oauth/{0}"/>
      <add key="OAuthConsumerKey" value="FoPkSSxcwjGzRpTVe4zPVg"/>
      <add key="OAuthConsumerSecret" value="hE3BPGfo6SNedRii5s7cdzEqqh3X2RQTJQoqAyhpa4"/>    
      <add key="PostmarkServerToken" value="8104387a-c2df-4152-a49f-ee7ebe69f743"/>
      <add key="PostmarkFromAddress" value="support@lunarbits.com"/>
      <add key="PostmarkToAddress" value="daniel.crenna@gmail.com"/>
  </appSettings>
</configuration>